.app-button {
  color: yellow;
  display: inline-flex;
  background-color: transparent;
  border-radius: 25px;
  padding: 8px 24px;
  border: 1px solid yellow;
  align-items: center;
  cursor: pointer;
  outline: none;
}